<h4>Lots Picked:</h4>
<h4>
  <%= render game.lottery %>
</h4>

<%= turbo_stream_from :lottery_last_num %>
<%= render 'lotteries/lottery_num', lottery: game.lottery %>
<%= button_to "Next Number", lottery_path(game.lottery), method: :patch %>
<br/>
<% game.game_sessions.each do |game_session| %>
  <% @card = game_session.card %>
  <div class="container" display="flex">
    <div>
      <h4>Player Name:  <%= game_session.player.name %></h4>
      <h5>Player game session link: <%= link_to card_url(game_session.card), card_url(game_session.card), data: {turbo: "false"} %> </h5>
    </div>

    <% @card.tally %>
    <%= render 'cards/card'%>
  </div>
<% end %>
